
body {
  background-color: #D3D3D3;
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.header {
  font-size: larger;
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase;
  padding: 20px;
  background-color: #FF4500;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  position: relative;
}

nav {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: center;
  align-items: center;
  background-color: #696969;
  color: #FFFFFF;
  height: 60px;
  padding: 0;
  margin-top: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 15px;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
  text-decoration: underline;
}

.footer {
  font-size: smaller;
  padding: 10px;
  background-color: #696969;
  text-align: center;
  border-top: 1px solid #FFFFFF;
  color: #FFFFFF;
  width: 100%;
  height: 100px;
}

.card {
  padding: 20px;
  background-color: #ffffff;
  margin: 20px auto;
  max-width: 600px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.card input[type="text"] {
  font-size: 18px;
}

.task-form-card input[type="text"] {
  font-size: 18px;
  margin-bottom: 15px;
}

.card h2 {
  color: #333;
  margin-bottom: 15px;
}

.task-form-card button {
  background-color: #FFA07A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.task-form-card button:hover {
  background-color: #FF4500;
  
}

.task-card button {
  background-color: #FF4500;
  color: white;
  padding: 8px 16px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  margin: 10px;
}

.task-card button:hover {
  background-color: #d32F2f;
}

.task-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 250px;
  min-height: 200px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  display: block;
}

.task-card label {
  display: block;
  margin-bottom: 15px;
}

.task-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.tasks-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.search-wrapper {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-wrapper input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.search-wrapper button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #FFA07A;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-wrapper button:hover {
  background-color: #d32F2f;
}

.task-card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.task-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 15px;
}

.read-the-docs {
  color: #888;
}

.loginForm {
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 45%;
  height: 70%;
  margin: 100px auto;
  background-color: #FFFFFF;
  border-radius: 25px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

#headerTitle {
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
}

.row-input {
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 8px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
  box-shadow: inset 0px -3px 0px 0px rgba(14,197,195,0.7);
  outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.row label {
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: #000000;
}

.form-button {
  width: 80%;
  max-width: 400px;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background-color: #FF4500;
  border: 0;
  cursor: pointer;
  transition: opacity 0.30x ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.form-button:hover{
  opacity: 0.8;
}

#button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#facebookIcon, #gitIcon, #googleIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.iconGroup {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.iconGroup a {
  margin: 0 0.6rem;
}

.alternateLogin {
  text-align: center;
  margin-top: 1.5rem;
}

.registerLink {
  text-align: center;
  margin: 0 1rem;
}

.forgotPasswordLink {
  cursor: pointer;
  color: #ee9520;
  font-weight: 600;
  text-align: right;
}

.imageContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.img{
  width: 40%;
  height: auto;
  border-radius: 4px;
}


